<div class="navbar-collapse collaose">
  <ul class="nav navbar-nav">
    <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['intheaters']">IN THEATERS</a>
    </li>
    <li class="nav-item "  [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['comingsoon']">COMMING SOON</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['myreminders']">MY REMINDERS</a>
    </li>
   
  </ul>
</div>